.nav {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* margin-left: auto; */
}
/* .nav a:last-child{
  margin-left: auto;
} */
/* .nav a:first-child{
  margin-left: auto;
} */

.nav_link:hover::after, .nav_link.active::after {
    width: 100%;
  }
    .nav_link_btn {
    height: 100%;
    margin: 5px;  
    min-width: 6.66rem;
    border:none;
    transition: all .2s linear;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    float: right;
    background-color: white;
  }
  .nav_link_btn:hover, .nav_link_btn.active {
    color: #00ffff;
  }
 .LogoWrapper {
   display: flex;
   margin-right: 650px;
   min-height: 100px;
   /* margin-left: 25px; */
 }
 .LogoWrapper {
  display: flex;
  margin-right: 550px;
  min-height: 100px;
}
.LogoWrapper img{
  width: 140px;
  height: 40px;
}
 /* .LogoText {
   display: block;
  font-size: 18px;
  margin-left: 6px;
  color: #00ffff;
  font-weight: 1000;
 }
 .hiMath{
   margin-top: -8px;
 }
 .Gaming{
   margin-top:-17px;
   border-top:2px solid #00ffff;
 } */
