.about{
    background-image: url(../../../images/main_bg.jpg);
    background-position: center center;
    background-size: cover;
    height: 820px;
    padding-top: 6rem;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
}

.about_header{
    display: flex;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid #ff3399;
    margin-top: 2rem;
    padding-bottom: 10px;
    height: 6vh;
}

/* .about_header_strip div{
    width: 6.2rem;
    height: 2.5rem;
    background-color: rgb(64, 224, 208);
} */

.about_header_title{
    font-size: 2.33rem;
    font-weight: 300;
    line-height: 4.66rem;
    margin-left: 5rem;
    color: white;
}
.about_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.about_title{
    margin-top: 2.66rem;
    font-size: 2.33rem;
    font-weight: 400;
    color: white;
}

.about_subtitle{
    opacity: 0.8;
    font-size: 1.2rem;
    color: white;
}
.EncourageBox{
    display: flex;
    margin-top: 10px;
    justify-content:space-evenly;
    width: 100%;
}
.EncourageBox p{
    color:rgb(148, 144, 144);
    display: flex;
    align-items: center;
}
.EncourageBox img{
    display: flex;
    /* border: 1px solid rgb(75, 38, 38); */
    opacity: 0.4;
    border-radius: 25%;
}
/* .EncourageBox img:hover{
    opacity: 0.2;
} */
